.site-header {
    padding: 40px 0;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header {
    @include display($space:space-between);
}
.header__logo-link {
    display: inline-block;
}
.header__list {
    @include display($space:start);
    gap: 40px;
}
.navbar__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 1px;
    color: #333333;
    text-transform: uppercase;
}